body {
    background-color: black;
}

#wrapper {
    background-color: white;
    height: 480px;
    width: 640px;
    position: relative;
}

#wrapper > canvas {
    pointer-events:none;
    position: absolute;
}

#wrapper > * {
    position: absolute !important;
    x: 0;
    y: 0;
}